extends layout

block content


    section.section-about.img-head.flex-c-m.p-b-135(style="background-image: url(images/bg/bg-about.jpg")
        h4.tit3cpcolwhite about


    section.section-about
        .container
            .row
                .col.t-center
                    h4.tit2 Chandrakasem Park Hotel
                    h5.tit3 our story
                    p.txtth4 จันทรเกษมปาร์ค......

    section.section-video
        .container
            .row
                .col.t-center
                    h4.tit2 Discover
                    h5.tit3white our story
                    .m-l-r-auto.size-80.m-t-50.m-b-50
                        .flex-c-m.size-full.bg-colwhite.btn-video.trans-2
                            i.fas.fa-play

    section.section-about.flex-c-m.t-center
        .container
            .row
                .col-6.p-t-30.p-b-30
                    h4.tit2 Hello World
                    h5.tit3 Hello Friend      
                    p.txtth4 การเดินทาง  
                .col-6.p-t-30.p-b-30
                    .warp_image_welcome.overlay
                        a
                            img(src="images/Hostel26.jpg")     
            .row.m-t-100
                .col-6.p-t-30.p-b-30
                    .warp_image_welcome.overlay
                        a
                            img(src="images/Hostel26.jpg")               
                .col-6.p-t-30.p-b-30
                    h4.tit2 Hello World
                    h5.tit3 Hello Friend      
                    p.txtth4 การเดินทาง  
    

    section.section-gal.t-center
        .container
            .row
                .col
                    h3.tit2 GALLERY
